<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="100" verbose="1" name="Test Suite" skipfailedinvocationcounts="false" junit="false"
       parallel="false" data-provider-thread-count="50" annotations="JDK">

    <parameter name="hostname" value="localhost"/>
    <parameter name="port" value="8080"/>


    <test verbose="2" name="product tests" annotations="JDK">
        <packages>
            <package name="com.casestudy.restservice"/>
        </packages>
    </test>
</suite>